@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
      body {
        background-color: #e8eaee;
      }
      .container {
        font-family: 'Roboto', sans-serif;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        width: 20vw;
        background-color: white;
        padding: 20px;
      }
      .row {
        display: flex;
        align-items: center;
        margin: 10px 0;
      }

      .row:hover {
        font-weight: bold;
        cursor: pointer;
        
        
      }
      .row:hover > .icon {
        color: white;
        background-color: #5374ff;
      }
      .icon {
        background-color: #ecf0f3;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #748a99;
        width: 30px;
        height: 30px;
        border-radius: 10px;
        margin-right: 15px;
      }