.icons-container {
  width: 260px;
  height: 100px;
  border: 10px solid #ab47bc;
  padding: 0px 10px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
}
.icon {
  display: inline-block;
  width: 80px;
  height: 70px;
  background-image: url(./sprites.png);
}
.settings {
  background-position-x: -23px;
  background-position-y: -43px;
}
.cancel {
  width: 90px;
  height: 90px;
  background-position-x: -103px;
  background-position-y: -25px;
}
.done {
  background-position-x: -187px;
  background-position-y: -43px;
}
