body {
  background-color: #e8eaee;
  font-family: "Roboto", Arial, sans-serif;
}
.wrapper {
  width: 1600px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.wrapper-left,
.wrapper-right {
  outline: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
}
.wrapper-left {
  min-width: 1120px;
}
.wrapper-right {
  min-width: 390px;
}

.blog_plants-wrapper {
  width: 1100px;
  padding: 16px;
  display: flex;
}
.background_color-white {
  background-color: white;
  border-radius: 24px;
  box-sizing: border-box;
}
.blog_plants-article {
  padding: 24px 40px 20px;
}
.blog_plants-article-title {
  font-size: 33px;
  margin-bottom: 20px;
  line-height: 1.3em;
}
.color-black {
  color: #313237;
  font-weight: 500;
}
.blog_plants-article-content {
  font-size: 20px;
  margin-bottom: 36px;
  line-height: 1.6em;
  word-spacing: 0.06em;
}
.color-gray {
  color: #718797;
}
.blog-article-footer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.img-avatar {
  width: 56px;
  height: 56px;
}
.blog_plants-article-footer-name {
  font-size: 18px;
  margin-bottom: 10px;
}
.flex-grow {
  flex-grow: 1;
}
.icon-share {
  font-size: 18px;
  cursor: pointer;
}

.blog_coffee-wrapper {
  width: 370px;
  padding: 16px 16px 10px;
}
.blog_coffee-article {
  padding: 20px 10px;
}
.blog_coffee-article-title {
  font-size: 25px;
  margin-bottom: 35px;
  line-height: 1.4em;
}
.blog_coffee-article-footer-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.card_journalist-wrapper {
  width: 648px;
  padding: 16px;
  display: flex;
}
.card_journalist-content {
  padding: 20px 15px 5px 30px;
  width: 100%;
}
.card_journalist-content-name {
  font-size: 30px;
  letter-spacing: 0.02em;
  margin-bottom: 5px;
}
.card_journalist-content-position {
  font-size: 18px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  font-weight: 500;
}
.card_journalist-content-statistic {
  display: flex;
  justify-content: space-between;
  padding: 20px 35px 12px 24px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.background_color-gray {
  background-color: #f2f5f8;
}
.card_journalist-content-statistic-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
  font-weight: 500;
}
.card_journalist-content-statistic-result {
  font-size: 30px;
}
.card_journalist-buttons {
  display: flex;
}
.card_journalist-button {
  width: 100%;
  text-align: center;
  padding: 15px;
  border: 1px solid #e3e6e9;
  border-radius: 8px;
  letter-spacing: 0.05em;
  cursor: pointer;
  font-weight: 500;
}
.button-follow {
  border-color: #5374ff;
  margin-left: 20px;
}
.background_color-blue {
  background-color: #5374ff;
  color: white;
}

.sidebar-wrapper {
  width: 258px;
  padding: 28px 28px 8px;
}
.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  cursor: pointer;
}
.sidebar-item-icon {
  border-radius: 15px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-item-text {
  font-size: 18px;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.sidebar-item-icon:hover {
  background-color: #5374ff;
  color: white;
}
.sidebar-item-text:hover {
  color: #313237;
}

.search-wrapper {
  width: 510px;
  padding: 28px 24px 36px 24px;
  font-weight: 500;
}
.search-form-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 12px;
  margin-bottom: 28px;
}
.search-form-placeholder {
  color: rgba(145, 162, 175, 1);
  letter-spacing: 0.03em;
  font-size: 20px;
}
.search-form-icon {
  width: 72px;
  height: 72px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon-search {
  font-size: 35px;
}
.search-anchors-container {
  display: flex;
  justify-content: space-between;
}
.search-anchor {
  font-size: 18px;
  letter-spacing: 0.03em;
}

.arrows-wrapper {
  width: 260px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
}
.arrows-circle {
  width: 88px;
  height: 88px;
  background-color: white;
  border-radius: 50%;
  line-height: 88px;
  text-align: center;
  font-size: 36px;
  box-sizing: border-box;
  cursor: pointer;
}
.padding-left {
  padding-left: 10px;
}

.video-wrapper {
  width: 394px;
  padding: 16px;
  display: flex;
}
.video-container {
  margin: 10px 20px 10px 16px;
}
.icon-play_circle {
  font-size: 34px;
  color: #5374ff;
  cursor: pointer;
}
.video-title {
  font-size: 22px;
  margin: 5px 5px 12px;
  letter-spacing: 0.03em;
  line-height: 1.3em;
}
.video-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
}

.topics-wrapper {
  width: 260px;
  padding: 25px 0px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.topic {
  border-radius: 8px;
  padding: 10px 16px;
  letter-spacing: 0.01em;
  font-size: 17px;
  border: 1px solid #f2f5f8;
  box-sizing: border-box;
  cursor: pointer;
}
.topic:hover {
  color: #5374ff;
  border-color: #5374ff;
}
