.container {
  margin: 0 auto;
  max-width: 1000px;
}
.content {
  padding: 20px 0px;
  display: none;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.tab {
  text-align: center;
  padding: 20px;
  background: #f1f1f1;
  text-transform: uppercase;
  border: 1px solid lightgrey;
  font-weight: bold;
}
.tab:hover {
  border-top: 2px solid purple;
}
.tabs-container {
  display: flex;
  flex-wrap: wrap;
}
#tab1:checked ~ .content1,
#tab2:checked ~ .content2,
#tab3:checked ~ .content3 {
  display: block;
}
.content-header {
  font-weight: bold;
  font-size: 24px;
}
#tab1:checked ~ .tab1,
#tab2:checked ~ .tab2,
#tab3:checked ~ .tab3 {
  border-top: 2px solid;
  background-color: white;
}
