.solid_black {
  border: solid;
  border-color: black;
  border-width: 5px;
  margin-bottom: 10px;
}
.groove_yellow {
  border: groove;
  border-color: yellow;
  border-width: 5px;
  margin-bottom: 10px;
}
.ridge_brown {
  border: ridge;
  border-color: brown;
  border-width: 5px;
  margin-bottom: 10px;
}
.double_tomato {
  border: double;
  border-color: tomato;
  border-width: 5px;
  margin-bottom: 10px;
}
.dashed_green {
  border: dashed;
  border-color: green;
  border-width: 5px;
  margin-bottom: 10px;
}
.dotted_blue {
  border: dotted;
  border-color: blue;
  border-width: 5px;
  margin-bottom: 10px;
}
.inset_grey {
  border: inset;
  border-color: grey;
  border-width: 5px;
  margin-bottom: 10px;
}
.outset_red {
  border: outset;
  border-color: red;
  border-width: 5px;
  margin-bottom: 10px;
}
