.icons {
  border: solid;
  width: 350px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  border-color: blueviolet;
  border-width: 10px;
  vertical-align: middle;

}
.done {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 100px;
  color: greenyellow;
}
.cancel {
  padding-left: 5px;
  padding-right: 5px;
font-size: 100px;
color:red;
font-weight: 800;
}
.settings {
  padding-left: 5px;
  padding-right: 5px;
font-size: 100px;
color: aqua;
font-variation-settings:
'FILL' 1 
}
