table {
  table-layout: fixed;
  width: 600px;
  border-collapse: collapse;
  margin-bottom: 20px;
}
td {
  border: 2px solid black;
}
tr {
  height: 44px;
}
.col-width-150px {
  width: 150px;
}
.wrapper {
  font-family: Arial;
  width: 600px;
  margin: auto;
  text-align: center;
  font-size: 20px;
}
.col-width-200px {
  width: 200px;
}
.table-color-blue {
  background-color: #7fffd4;
}
.cell-color-orange {
  background-color: #ff7f50;
}
.col-width-85px {
  width: 85px;
}
.col-width-90px {
  width: 90px;
}
.col-width-120px {
  width: 120px;
}
capsion {
  font-style: italic;
  font-weight: bold;
}
.col-width-100px {
  width: 100px;
}
.empty-cells-hide {
  border-collapse: separate;
  empty-cells: hide;
  border-spacing: 0px;
}
.cell-color-gray {
  background-color: #808080;
  color: #808080;
  border-color: #808080;
}
.cell-color-pink {
  background-color: #ffc0cb;
  color: #ffc0cb;
  border-color: #ffc0cb;
}
.cell-color-black {
  background-color: black;
}
.cell-color-blue {
  background-color: #7fffd4;
  color: #7fffd4;
  border-color: #7fffd4;
}
.cell-color-light-orange {
  background-color: #ff7f50;
  color: #ff7f50;
  border-color: #ff7f50;
}
.cell-color-white {
  border-color: white;
}
