a {
  color: orange;
}
a:visited {
  color: green;
}
a:hover {
  text-decoration: none;
}
.container::first-line {
  color: red;
}
.container > :first-child {
  color: blue;
}
tr:nth-child(even) {
  background-color: #333;
  color: white;
}
