body {
  counter-reset: paragraph;
}
p:after {
  counter-increment: paragraph;
  content: " #" counter(paragraph);
}
p:hover {
  background-color: red;
  cursor: pointer;
}
p:nth-child(even):hover ~ :nth-child(even) {
  background-color: red;
}
p:nth-child(odd):hover ~ :nth-child(odd) {
  background-color: red;
}
