table {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 35px;
  overflow: hidden;
  margin: 5px auto 20px;
}
col {
  width: 50px;
}
tr {
  height: 50px;
}
td {
  text-align: center;
  background-color: #e8e8e8;
}
tr:nth-child(odd) td:nth-child(even) {
  background-color: #b0b0b0;
}
tr:nth-child(even) > td:nth-child(odd) {
  background-color: #b0b0b0;
}
::after {
  width: 35px;
  height: 35px;
  display: inline-block;
  line-height: 35px;
}
.table-rook td:hover::after {
  content: "\265C";
  border-radius: 50%;
  box-shadow: 0px 50px 0 -10px black, 0px 100px 0 -10px black,
    0px 150px 0 -10px black, 0px 200px 0 -10px black, 0px 250px 0 -10px black,
    0px 300px 0 -10px black, 0px 350px 0 -10px black, 50px 0px 0 -10px black,
    100px 0px 0 -10px black, 150px 0px 0 -10px black, 200px 0px 0 -10px black,
    250px 0px 0 -10px black, 300px 0px 0 -10px black, 350px 0px 0 -10px black,
    0px -50px 0 -10px black, 0px -100px 0 -10px black, 0px -150px 0 -10px black,
    0px -200px 0 -10px black, 0px -250px 0 -10px black, 0px -300px 0 -10px black,
    0px -350px 0 -10px black, -50px 0px 0 -10px black, -100px 0px 0 -10px black,
    -150px 0px 0 -10px black, -200px 0px 0 -10px black, -250px 0px 0 -10px black,
    -300px 0px 0 -10px black, -350px 0px 0 -10px black;
}
.table-elephant td:hover::after {
  content: "\265D";
  border-radius: 50%;
  box-shadow: 50px 50px 0 -10px black, 100px 100px 0 -10px black,
    150px 150px 0 -10px black, 200px 200px 0 -10px black,
    250px 250px 0 -10px black, 300px 300px 0 -10px black,
    350px 350px 0 -10px black, -50px 50px 0 -10px black,
    -100px 100px 0 -10px black, -150px 150px 0 -10px black,
    -200px 200px 0 -10px black, -250px 250px 0 -10px black,
    -300px 300px 0 -10px black, -350px 350px 0 -10px black,
    50px -50px 0 -10px black, 100px -100px 0 -10px black,
    150px -150px 0 -10px black, 200px -200px 0 -10px black,
    250px -250px 0 -10px black, 300px -300px 0 -10px black,
    350px -350px 0 -10px black, -50px -50px 0 -10px black,
    -100px -100px 0 -10px black, -150px -150px 0 -10px black,
    -200px -200px 0 -10px black, -250px -250px 0 -10px black,
    -300px -300px 0 -10px black, -350px -350px 0 -10px black;
}
.table-horse td:hover::after {
  content: "\265E";
  border-radius: 50%;
  box-shadow: 50px 100px 0 -10px black, 100px 50px 0 -10px black,
    100px -50px 0 -10px black, 50px -100px 0 -10px black,
    -50px 100px 0 -10px black, -100px 50px 0 -10px black,
    -100px -50px 0 -10px black, -50px -100px 0 -10px black;
}
td:hover {
  cursor: pointer;
}
p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}
