body {
  counter-reset: paragraph;
}
p:after {
  counter-increment: paragraph;
  content: " #" counter(paragraph);
}
p:hover {
  background-color: green;
  cursor: pointer;
}
p:hover + p {
  background-color: red;
}
