.container {
    width: 300px;
    background: #fd9ba0;
    padding: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.block{
    width: 300px;
    background-color: white;
    margin: auto;
    border-radius: 20px 50px 50px;
    padding: 25px 10px;
    box-shadow: 0px -10px 0px 0px #77d0d7; 
}
.title{
    font-size: 10px;
    margin: 40px 0px;
}
.text-block {
    color: grey;
    margin: 30px 0px;
    line-height: 25px;
}

.first-block {
    margin-bottom: 50px;
    box-shadow: 0px -10px 0px 0px #f26c61; 
}

.material-symbols-outlined{
    font-size: 50px;
    
}