.team-page{
    
}
.team-page-header{
    margin: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}
.team-page-item{
   display: flex;
   font-size: 18px;
   font-weight: bold;
   margin: 10px;
   
}
.people-photo-block{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    background: url(./people.jpg);

    background-position: center;
    background-size: cover;
}

.people-information-block{
   border-collapse: collapse;
    border-bottom: solid grey 2px;
   flex-grow: 1;
}