html {
  font-family: sans-serif;
  color: #718797;

}
h2,
b {
  color: #313237;
  font-size: 30px;
}
.contairner {
  width: 900px;
  background-color: #e8eaee;
  display: flex;
  flex-wrap: wrap;

}
.profile {
  background-color: #ffffff;
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  gap: 20px;
  margin: 10px;
  padding: 10px;
}
.image {
  width: 40%;
  border-radius: 20px;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
}

.statistics {
  display: flex;
  background-color: #f2f5f8;
  justify-content: space-between;
  border-radius: 20px;
  overflow: hidden;
  padding: 15px;
  width: 250px;
}
.buttons {
  display: flex;

  margin-top: 10px;
  justify-content: space-between;
  gap: 15px;
}
.button {
  border: 1px solid #798f9d;
  border-radius: 10px;
  text-align: center;
  width: 110px;
  align-items: center;
  padding: 10px;
}
.follow {
  background-color: #5374ff;
  color: white;
  text-align: center;
  border-radius: 10px;
}
.profile{
    height: 50%;
   
}
.sidebar{
flex-direction: column;
align-items: baseline;
padding:30px;

}

.row{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: larger;
    font-weight: bold;
}
.material-symbols-outlined{
    background-color: #ecf0f3;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 10px;
    padding:10px 10px 0px 10px;

}
.sports{
    background-color: #5374ff;
    color:white;
}
.search{
    background-color: #ffffff;
    border-radius: 25px;
    margin: 20px;
    padding: 30px;
    font-weight: bold;
    
}
.search-line{
    display: flex;
    align-items: center;
    background-color: #f2f5f8;
    width: 400px;
   padding-left: 10px;
   
}
.loupe{
    background-color: #5374ff;
    color:white;
}
.grow{
    flex-grow: 1;
}
.hashtags{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.direction{
    width: 50px;
    justify-content: center;
    font-size: 40px;
    border-radius: 50%;
}