.material-symbols-outlined_settings {  
    font-family:"Material Symbols Outlined"; 
    color: aqua; 
    font-size: 100px; 
    padding-right: 0px; 
} 
.material-symbols-outlined_close {  
    font-family:"Material Symbols Outlined"; 
    color: #ff6f9f; 
    font-size: 100px; 
    
} 
.material-symbols-outlined_done {  
    font-family:"Material Symbols Outlined"; 
    color: rgb(147, 238, 188); 
    font-size: 100px; 
     
} 
.border{ 
    width: 12%; 
 
}