.container1{
    width: 300px;
    padding:15px 15px 0px;
    background-color: #ecf0f1;
}
.container2 {
    padding: 45px 10px 40px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.tariff-name {
    font-size: 27px;
    font-weight: 700;
}

.subtitle {
    margin: 20px;
    color: #797f8a;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.circle {
    background-color: #e1002c;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.text-circle {
    display: block;
    color: white;
    line-height: 130px;
    font-size: 25px;
    font-weight: 300;
}

.options {
    width: 250px;
    margin: auto;
    line-height: 35px; 
    color: #aaadaf;
    font-weight: 500;
    font-size: 15px;
    border-bottom: solid 2px #e4e4e4;
    
}

.button1{
    width: 150px;
    padding: 12px 5px;
    margin: auto;
    margin-top: 30px ;
    border-radius: 7px;
    background-color: #e3002c;
    color: white;
    font-weight: 300;
    font-size: 15px;
}