body{
    counter-reset: hash;
}
p::after {
counter-increment: hash;
content:' #'counter(hash);
}
p:hover {
    background-color: red;
}
p:nth-child(even):hover ~ :nth-child(even) {
    background-color: red;
  }
  p:nth-child(odd):hover ~ :nth-child(odd) {
    background-color: red;
  }