.svg-sprites {
    width: 155px;
    border-style: solid;
    border-width: 7px;
    border-color: #ab47bc;
    border-radius: 20px 0px 20px 0px;
    line-height: 10px;
    padding: 5px 0px;
        
}

.settings {
    fill: #4fc3f7;
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

.cancel {
    fill: #f06292;
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

.done {
    fill: #7dc681;
    width: 48px;
    height: 48px;
    vertical-align: middle;
}


    