body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;

}

.container {
    width: 800px;
    padding: 50px;
    display: flex;
    border-radius: 15px;
    background-color: white;
    font-family: 'Roboto', sans-serif;

}

.left-block {
    width: 60%;
    padding-bottom: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link-create-account {
    color: black;
}

.right-block {
    width: 40%;
    padding: 25px;
}

.title {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 50px;
}

.entry-field {
    width: 100%;
    border: none;
    outline: none;
    height: 30px;
    text-indent: 15px;
    font-size: 20px;
}

.form-field {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 25px;
}

.entry-field::placeholder {
    font-size: 15px;
}

.form-field-icon {
    align-items: center;
    font-size: 22px;
    font-variation-settings: 'FILL' 1;
}

.custom-checkbox-label::before {
    font-family: 'Material Symbols Outlined';
    margin-right: 15px;
}

.checkbox-remember:checked+.custom-checkbox-label::before {
    content: 'check_box';
    font-size: 23px;
    color: grey;
}

.checkbox-remember:not(:checked)+.custom-checkbox-label::before {
    content: 'check_box_outline_blank';
    font-size: 23px;
    color: grey;
}

.custom-checkbox-label {
    display: flex;
    align-items: center;
    margin-top: 30px;

}

.btn-login {
    width: 130px;
    height: 50px;
    background-color: #6eaae5;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    margin: 35px 0px;
}

.footer {
    margin-top: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-square-facebook {
    color: #3c5994;
    font-size: 30px;
}

.fa-square-twitter {
    color: #16a1f7;
    font-size: 30px;
}

.fa-square-google-plus {
    color: #e92836;
    font-size: 30px;
}

.footer i:hover {
    cursor: pointer;
}
button {
    cursor: pointer;
}