td {
  border: 5px solid;
  border-radius: 5px;
}

.font_roboto_bold {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}

table {
  margin: auto;
  text-align: center;
}

.none_border {
  border: 0px solid;
}

.color_red {
  color: #ff0000;
}

.color_blue {
  color: #1e90ff;
}

.color_green {
  color: #32cd32;
}
