.container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 30%;
  /* justify-content: space-between; */
}
label::before {
  content: "check_box_outline_blank";
}
::before {
  font-family: "Material Symbols Outlined";
  font-size: 18px;
  display: flex;
  align-items: center;
}
label {
  display: flex;
  align-items: center;
}
form {
  display: flex;
  align-items: center;
}
.checkbox {
  display: flex;
  align-items: center;
}
.hover:hover::before {
  color: blue;
  font-weight: 900;
}
.check:checked + label::before {
  content: "check_box";
}
.disabled::before {
  content: "check_box_outline_blank";
  color: #d0d0d0;
}
.check:checked + .default::before {
  content: "check_box";
  font-family: "Material Symbols Rounded";
  color: blue;
}
/* .container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.text {
  margin-right: 20px;
}
:before {
  font-family: "Material Symbols Outlined";
}
label:hover::before {
  content: "check_box";
}
label::before {
  content: "check_box_outline_blank";
  color: black;
  width: 20px;
  height: 20px;
  display: block;
  font-size: 20px;
  border-radius: 10px;
  line-height: 20px;
}
input {
  display: none;
}
label {
  display: flex;
  align-items: center;
}
.checkbox {
  margin-left: 5px;
}
.hover:hover::before {
  content: "check_box_outline_blank";
  color: blue;
  font-weight: 900;
}
label:disabled {
  color: gray;
} */
