@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
      body {
        background-color: #e8eaee;
      }
      .main_container {
        display: flex;
        background-color: white;
        width: 55vw;
        border-radius: 10px;
        margin: 0 auto;
        padding: 5px;
        font-family: "Roboto", sans-serif;
      }
      .picture {
        height: 140px;
        border-radius: 10px;
        vertical-align: middle;
      }
      .header {
        font-size: 10px;
        font-weight: 600;
      }
      .information {
        margin: 15px;
      }
      .text {
        font-size: 7px;
        color: #b0bec5;
        margin: 10px 0;
        text-align: justify;
      }
      .photo {
        width: 25px;
        border-radius: 50%;
        margin-right: 10px;
      }
      .information_about_author {
        display: flex;
        align-items: center;
        line-height: 10px;
      }
      .name {
        font-size: 7px;
        font-weight: bold;
      }
      .date {
        font-size: 6px;
        color: #b0bec5;
      }
      .flex_grow {
        flex-grow: 1;
      }
      .share {
        font-size: 15px;
        color: #8fa0ad;
      }