body{
    margin: 0px;
}
.cell:nth-child(n):nth-child(-n+8):nth-child(even), 
.cell:nth-child(n+9):nth-child(-n+16):nth-child(odd),
.cell:nth-child(n+18):nth-child(-n+24):nth-child(even),
.cell:nth-child(n+25):nth-child(-n+32):nth-child(odd),
.cell:nth-child(n+33):nth-child(-n+40):nth-child(even),
.cell:nth-child(n+41):nth-child(-n+48):nth-child(odd),
.cell:nth-child(n+49):nth-child(-n+56):nth-child(even),
.cell:nth-child(n+57):nth-child(-n+64):nth-child(odd)
{
    background-color: #b0b0b0;
}

.container {
    width: 800px;
    overflow: hidden;
}

.figure{
    width: 100px;
    height: 100px;
    display: none;
}
.cell{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: -5px -5px 0 0;
 }

.cell:hover > .figure{
    display: inline-block;
    box-shadow: 
    200px 100px 20px -35px black, 
    100px 200px  20px -35px black, 
    -100px 200px 20px -35px black, 
    200px -100px 20px -35px black,
    -200px 100px 20px -35px black,
    -200px -100px 20px -35px black,
    -100px -200px 20px -35px black,
    100px -200px 20px -35px black;
    position: relative;
    z-index: 1;
}