tr:nth-child(2n) td:nth-child(2n), tr:nth-child(2n+1) td:nth-child(2n+1) {
    background-color: black;
}


.cell:nth-child(n):nth-child(-n+9):nth-child(even), 
.cell:nth-child(n+10):nth-child(-n+17):nth-child(odd),
.cell:nth-child(n+18):nth-child(-n+25):nth-child(even),
.cell:nth-child(n+26):nth-child(-n+33):nth-child(odd),
.cell:nth-child(n+34):nth-child(-n+41):nth-child(even),
.cell:nth-child(n+42):nth-child(-n+49):nth-child(odd),
.cell:nth-child(n+50):nth-child(-n+57):nth-child(even),
.cell:nth-child(n+58):nth-child(-n+65):nth-child(odd)
{
    background-color: black;
}

