body {
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #d24fc1, #8851bd)
}

.container {
    width: 1100px;
    min-width: 850px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.left-block {
    width: 50%;

}

.right-block {
    width: 50%;
    padding: 100px 80px;
    box-sizing: border-box;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.entry-field-input {
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    font-size: 17px;
}

.entry-field {
    height: 56px;
    background: linear-gradient(90deg, #8454c0, #fbc0ff);
    margin-bottom: 5px;
}

.entry-field-input::placeholder {
    font-size: 17px;
}

.btn-continue {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #8454c0, #da39c3);
    color: white;
    letter-spacing: 4px;
    margin: 0;
    margin-top: 35px;
}

.btn-continue__arrow {
    position: relative;
    width: 50px;
    left: 350px;
    top: -40px;
    color: white
}

.text-connect {
    display: block;
    text-align: center;
    color: gray;
    font-size: 17px;
    margin-bottom: 35px;
}

.login-with {
    display: flex;
    margin-top: 15px;
    overflow: hidden;
}

.icon-login-with {
    width: 80px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-login-with {
    color: white;
    flex-grow: 1;
    border: none;
    outline: none;
}

.facebook .icon-login-with {
    background-color: #257fb7;
    color: white;
}

.btn--facebook {
    background: linear-gradient(90deg, #257fb7, #3698d9);
    text-align: left;
}

.twitter .icon-login-with {
    background-color: #35aad2;
    color: white;
}

.btn--twitter {
    background: linear-gradient(90deg, #35aad2, #64e1fd);
    text-align: left;

}

.fa-facebook-f,
.fa-twitter {
    font-size: 28px;
}