.settings {
    color: #4fc3f7;
    font-size: 70px;
    vertical-align: middle;

}

.settings-material{
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48;
}
.cancel {
    color: #f06292;
   font-weight: bold;
    font-size: 100px;
    vertical-align: middle;
}

.done {
    color: #7dc681;
    font-weight: bold;
    font-size: 70px;
    vertical-align: middle;

}

.border {
    border: solid #ab47bc 10px;
    border-radius: 30px 0 30px;
    padding: 0px;
    float: left;
}

.icon {
    background-image: url("./images/sprite.png");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    display: inline-block;

}

.setting-icon {
    background-position-x: -382px;
    background-position-y: -93px;

}

.cancel-icon {
    background-position-x: -225px;
    background-position-y: -253px;
}

.done-icon {
    background-position-x: -225px;
    background-position-y: -30px;
}

.sprite-border {
    margin: 20PX;
    border: solid #ab47bc 5px;
    border-radius: 30px 0 30px;
    padding: 0px;
    float: left;
}

.cancel-awesome{
font-weight: normal;
}
.border-awesome{
    padding: 5px;
}