body {
    background-color: #ffc0cb;

}

.page {
    padding: 20px 10px 5px;
    margin: 0 auto;
    width: 700px;
    text-align: center;
}

.border-style {
    border: solid black 1px;
    border-radius: 2px;
}

.header-footer-block {
    padding: 5px;
    margin: 10px;
    background-color: #7fffd4;
    font-size: 20px;
}

table {
    width: 680px;
    margin: 10px;
    border-collapse: collapse;
}

.main-content {
    background-color: #7fffd4;
    padding: 5px 10px;
    margin: 10px;
    margin-left: 0;
    width: 370px;
}

.article {
    margin: 10px 0;
}

.title-article-block {
    padding: 5px;
    margin: 15px 15px 10px 15px;
    background-color: #87ceeb;
    font-size: 16px;
    text-align: left;
}

.content-article-block {
    padding: 5px;
    margin: 15px 15px 10px 15px;
    background-color: #dda0dd;
    text-align: justify;
    font-size: 12px;
}

.images-size {
    width: 370px;
}

.banners {
    margin: 10px 0 10px 25px;
    ;
    padding: 10px;
    text-align: center;
    background-color: #7fffd4;
    width: 220px;
}

.banner-size {
    width: 200px;
}

.banner-margin {
    margin-bottom: 5px;
}